body{
	text-align: center;
}

#warningLogo{
	margin: 50px 0 30px 5px;
}


#err404 img{
	float:left;
	margin-right: 20px;
}

#err404{
	text-align: left;
}

#err404 h1{
	margin-top: 20px;
	float:left;
}

#err404 p{
	float:left;
}

#warning {
	padding: 30px;
	background-color:#f0f0f0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 5px;
}

#errorPage h1{
	margin-bottom: 20px;
	color: #FF7000;
}

#errorPage a{
	font-size: 10px;
	color: #363434;
}

#errorPage ul{
	padding: 10px 0 30px 20px;
}

#errorPage li{
	float: left;
	margin-right: 10px;
}


