/* 
        This stylesheet belongs to TextboxList - Copyright Guillermo Rauch <http://devthought.com> 2009 
        TextboxList is not priceless for commercial use. See <http://devthought.com/projects/jquery/textboxlist/> 
        Purchase to remove copyright
*/

.textboxlist { font: 11px "Lucida Grande", Verdana; cursor: text; }
.textboxlist-bits {background-color:white; zoom: 1; overflow: hidden; margin: 0; padding: 2px 2px 0px !important; border: 1px solid #ccc; *padding-bottom: 0px; -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;}
.textboxlist-bit { list-style-type: none; float: left; display: block; padding: 0; margin: 0 2px 2px !important; cursor: default; }
.textboxlist-bit-editable { border: 1px solid #fff;}
.textboxlist-bit-editable-input { overflow-x:visible; border: 0; padding: 2px 0; *padding-bottom: 0; height: 14px; }
.textboxlist-bit-editable-input:focus { outline: 0; }
.textboxlist-bit-box { color: #685840; position: relative; line-height: 17px !important; padding: 0 5px 0 5px; -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px; border: 1px solid #c3c3c3; background: #F1EEE9; cursor: default; }
.textboxlist-bit-box-deletable { padding-right: 15px !important; }
.textboxlist-bit-box-deletebutton { position: absolute; right: 4px; top: 6px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('close.gif'); }
.textboxlist-bit-box-deletebutton:hover { border: none; background-position: 7px; text-decoration: none; }
.textboxlist-bit-box-hover { background: #d1c6b6; border: 1px solid #b5ae99; }
.textboxlist-bit-box-focus { border-color: #753a00;; background: #917959; color: #F8D080; }
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }
.textboxlist-bit-red {background:#fbd3b1; color:white;}

.textboxlist { width: 210px;  }
.art-content .textboxlist {width: 290px;}

.nearbyS .textboxlist {width: 350px;}
.art-content .tags .textboxlist {width: 260px;}
#presta_form .textboxlist {width: 502px;}
#signup_form .textboxlist {width: auto;}
.decale-textbox .textboxlist {margin-left:-15px;float:left;}
#profil-form .textboxlist {width: 420px;}
.plain-view .textboxlist {width: 210px;}
#mainsearch .textboxlist { width: 220px; } 
#mainsearch .textboxlist-bits { height:25px; padding:2px 35px 0px 2px !important; border-width:0px;border-color:#C9BAA7;border-left-width:1px; -moz-border-radius: 4px; -webkit-border-top: 4px; border-radius: 4px; -webkit-radius: 4px;}
.member-presta #mainsearch .textboxlist-bits {background-color:#f1efeb;}
.member-presta #mainsearch .textboxlist-bit-editable-input { background-color:#f1efeb; }
.member-presta #mainsearch .textboxlist-bit-editable { border: 1px solid #f1efeb; }

.ET-box .textboxlist-bit-box { background: #F8D080; padding: 0 5px 0 5px;}
.ET-box .textboxlist-bit-box-deletable { padding-right: 15px !important; }
.ET-box .textboxlist-bit-box-deletebutton { position: absolute; right: 4px; top: 6px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('close.gif'); }
.ET-box .textboxlist-bit-box-deletebutton:hover { border: none; background-position: 7px; text-decoration: none; }
.ET-box .textboxlist-bit-box-hover { background: #d1c6b6; border: 1px solid #b5ae99; }
.ET-box .textboxlist-bit-box-focus { border-color: #753a00;; background: #917959; color: #F8D080; }
.ET-box .textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }


/*  TextboxList Style guidelines 
            This style doesn't necessarily have to be in a separate file. 
            It's advisable not to set widths and margins from here, but instead apply it to a particular object or class (#id .textboxlist { width: xxx } or .class .textboxlist { width: xxx })
            The padding-top + padding-left + height of ".textboxlist-bit-editable-input {}" has to match the line-height of ".textboxlist-bit-box {}" for UI consistency. 
            The font configuration has to be present in .textboxlist and .textboxlist-bit-editable-input (for IE reasons)
            The *padding-bottom (notice the *) property of .textboxlist-bits {} has to be equal to the margin-bottom of .textboxlist-bit {} for IE reasons.
            The padding-top of .textboxlist ul {} has to match the margin-bottom of .textboxlist-bit, and the padding-bottom has to be null.
            Make sure the border-width of the .textboxlist-bit-editable {} is equal to the border-width of the box (a border that matches the background is advisable for the input)
            Feel free to edit the borders, fonts, backgrounds and radius.       
*/