/* 
        This stylesheet belongs to TextboxList - Copyright Guillermo Rauch <http://devthought.com> 2009 
        TextboxList is not priceless for commercial use. See <http://devthought.com/projects/jquery/textboxlist/> 
        Purchase to remove copyright
*/

.textboxlist-autocomplete{
}

.textboxlist-autocomplete { 
	position: absolute; 
	
}
/*.textboxlist-autocomplete-placeholder, .textboxlist-autocomplete-results { opacity: 0.9; filter: alpha(opacity=90); background: #eee; -webkit-box-shadow: 0 3px 3px #ccc; -moz-box-shadow: 0 3px 3px #ccc; box-shadow: 0 3px 3px #ccc; border: 1px solid #999; border-top: none; display: none; }*/
.textboxlist-autocomplete-placeholder { font-size:0.8em}
.textboxlist-autocomplete-placeholder, .textboxlist-autocomplete-results { 
margin: 0 !important; 
list-style: none;
padding: 2px;
-moz-border-radius-bottomleft: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px 4px;
border-bottom-left-radius: 4px 4px;

border: 1px solid #DDD;
background-color: white;
display:none;
}
.textboxlist-autocomplete-results
{
	border: 1px solid #CCC !important;
	display:none;
}
.textboxlist-autocomplete-result { 
/*margin: 0; padding: 5px; list-style-type: none; background: #eee; */
width:210px;
margin: 0 !important;
list-style-type: none;
text-decoration: none;
display: block;
padding: 5px !important;
line-height: 1.5 !important;
zoom: 1;
}
.textboxlist-autocomplete-result-focus { 
/*background: #F8D080;
 background: #FDF5CE url(/js/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
 color: #C77405;
 -moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-top: 1px solid #685840;
border-bottom: 1px solid #685840;
*/

	background-color: #AE977B !important;
	text-decoration: none;
	display: block;
	margin: -1px !important;
	padding: .2em .4em !important;
	line-height: 1.5 !important;
	zoom: 1;
	border-radius: 4px;
 }
.textboxlist-autocomplete-result-focus .search-text {color: #E4DDD3;}

.textboxlist-autocomplete-highlight { background: #EEF0C4; font-weight: bold; }

/*  TextboxList.Autocomplete Style guidelines 
            Try to keep .textboxlist-autocomplete {} as it is now
            If you apply custom styles to placeholder, also apply them to results, like it is now.
            .textboxlist-autocomplete-result {} needs a background for IE.
*/

.search-img{
	float:left;
}
.search-text{
	float: left;
	margin: 2px 5px;
	width: 155px;
	color: #685840;
}
.search-item:hover {
	text-decoration:none;
}
.search-title{
	float: left;
	width:100%;
}
